body{
  width: 90%;
  margin: auto;
  font-family: "Raleway", sans-serif;
  background-color: #F0EDE1;
  color: #0A451B;
  font-size: 18px;
}

h1 {
  font-family: verdana;
  color: #2E6B28;
  text-align: center;
}

p {
  font-family: "Raleway", sans-serif;
  color: #0A451B
}

footer {
    padding-top: 20px;
    padding-bottom: 50px;
  font-size: 1 em;
  text-align: center;
  color: gray;
  font-family: "Raleway", sans-serif;
  background-color: #F0EDE1;

.error_message{
  font-size: 1.3em;
  color: red;
}

}
/*Home page heading */
/* Container needed to position the button. Width auto so it aligns with nav */
.container-home {
  position: relative;
  width: auto;
}

/* Make the image responsive */
.container-home img {
   width: 100%;
    height: 100%;
    min-height: 70%;
    opacity: 70%;
}

a {
    color: white;
    }

/* Styling the buttons and place it in the middle of the container/image */
.container-home .btn1 {
  position: absolute;
   top: 80%;
  left: 30%;
    transform: translate(-20%, -20%);
  -ms-transform: translate(-50%, -50%);
    background-color: #C9C1AD;
  color: white;
  font-size: 30px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  }

.container-home .btn2 {
  position: absolute;
   top: 80%;
  left: 50%;
    transform: translate(-20%, -20%);
  -ms-transform: translate(-50%, -50%);
    background-color: #C9C1AD;
  color: white;
  font-size: 30px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  }


.container-home .btn1:hover {
  background-color: #2E6B28;
}

.container-home .btn2:hover {
  background-color: #2E6B28;
}


.container-home h1 {
position: absolute;
   top: 15%;
   left: 50%;
   right: 50%;
  color: #2E6B28;
  font-family: "Raleway", sans-serif;
  weight: 600px;
  font-size: 90px;
  text-align: center;
  width: 100px;

}

.container-home h2 {
position: absolute;
   top: 55%;
   left: 50%;
  font-family: "Raleway", sans-serif;
  weight: 600px;
  font-size: 50px;
  text-align: center;
  color: #0A451B;

}

/* newsletter container styling on homepage */
.newsletter-home {
    padding-top: 50px;
    text-align: center;
    background-color: #DDD8C7
}

.newsletter-home h4 {
    font-size: 40px;
}
.newsletter-home p {
    font-size: 20px;
}




/* image for the about us page */
.container-about {
  position: relative;
  width: auto;
}


.container-about img {
    width: 100%;
    height: 100%;
    min-height: 70%;
    opacity: 70%;
}

/* getting text on about page postioned */
.container-about h1 {
position: absolute;
   top: 15%;
   left: 50%;
   right: 50%;
  color: #2E6B28;
  font-family: "Raleway", sans-serif;
  weight: 600px;
  font-size: 5rem;
  text-align: center;
  width: 100px;

}

a {
    color: white;
    }


 /* custom 404 page heading */
/* Container needed to position the button. Width auto so it aligns with nav */
.container-404 {
  position: relative;
  width: auto;
}


/* Make the image responsive */
.container-404 img {
    width: 100%;
    height: 100%;
    min-height: 70%;
    opacity: 70%;
}

/* Styling the buttons and place it in the middle of the container/image */
.container-404 .btn1 {
  position: absolute;
   top: 80%;
  left: 30%;
    transform: translate(-20%, -20%);
  -ms-transform: translate(-50%, -50%);
    background-color: #C9C1AD;
  color: white;
  font-size: 30px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  }

.container-404 .btn2 {
  position: absolute;
   top: 80%;
  left: 50%;
    transform: translate(-20%, -20%);
  -ms-transform: translate(-50%, -50%);
    background-color: #C9C1AD;
  color: white;
  font-size: 30px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  }


.container-404 .btn1:hover {
  background-color: #2E6B28;
}

.container-404 .btn2:hover {
  background-color: #2E6B28;
}


.container-404 h1 {
position: absolute;
   top: 15%;
   left: 50%;
   right: 50%;
  color: #F0EDE1;
  font-family: "Raleway", sans-serif;
  weight: 600px;
  font-size: 90px;
  text-align: center;
  width: 100px;

}

.container-404 h2 {
position: absolute;
   top: 55%;
   left: 50%;
  font-family: "Raleway", sans-serif;
  weight: 600px;
  font-size: 50px;
  text-align: center;
  color: #F0EDE1;

}

/* shopping cart page*/
.container-cart img {
    width: 100%;
    height: 100%;
    min-height: 70%;
    opacity: 70%;
}

/* image for the shopping cart page */
.container-cart {
  position: relative;
  width: auto;
}

/* getting text on cart page postioned */
.container-cart h1 {
position: absolute;
   top: 15%;
   left: 50%;
   right: 50%;
  color: #2E6B28;
  font-family: "Raleway", sans-serif;
  weight: 600px;
  font-size: 5rem;
  text-align: center;
  width: 100px;

}

/* blog page*/
.container-blog img {
    width: 100%;
    height: 100%;
    min-height: 70%;
    opacity: 70%;
}

/* image for the blog page */
.container-blog {
  position: relative;
  width: auto;
}

/* getting text on blog postioned */
.container-blog h1 {
position: absolute;
   top: 15%;
   left: 50%;
   right: 50%;
  color: #2E6B28;
  font-family: "Raleway", sans-serif;
  weight: 600px;
  font-size: 5rem;
  text-align: center;
  width: 100px;

}

/* contact us page*/
.container-contact img {
    width: 100%;
    height: 100%;
    min-height: 70%;
    opacity: 70%;
}

/* image for the contact page */
.container-contact {
  position: relative;
  width: auto;
}

/* getting text on contact page postioned */
.container-contact h1 {
position: absolute;
   top: 15%;
   left: 50%;
   right: 50%;
  color: #2E6B28;
  font-family: "Raleway", sans-serif;
  weight: 600px;
  font-size: 5rem;
  text-align: center;
  width: 100px;

}