{% extends "layout.html" %}
{% block body_content %}

<div class="container-about">
  <img class="bg obj-fit-cover" src="{{url_for('static',filename='images/header_shop_2.png')}}" alt="plants">
  <h1>All About Us</h1>


</div>


<div class="container-theteam">
<p class="lead text-muted">The Plant Emporium features a carefully-curated selection of indoor and outdoor plants that are ideal for both the home and office. Each plant boasts an elegance and simplicity that echo the Plant Emporium ethos, with air cleaning properties for a healthy and aesthetic solution. Add vibrancy and life to any indoor or outdoor space, with our range of plants and explore great tips to care for them. Explore our range of Plant Emporium plants and select one to brighten up your space! </p>

  <h2>Meet the Team</h2>


</div>


<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="{{url_for('static',filename='images/jody_leaf.jpg')}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Jody</h5>
      <h6 class="card-subtitle mb-2 text-muted">The Plant Doctor</h6>
      <p class="card-text">Jody really kills too many plants to claim this title</p>
      <p class="card-text"><small class="text-muted">She is getting better though</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
{% endblock %}