{% extends "layout.html" %}
{% block body_content %}
<h1>All About Us</h1>
<p>The Plant Emporium features a carefully-curated selection of indoor and outdoor plants that are ideal for both the home and office. Each plant boasts an elegance and simplicity that echo the Plant Emporium ethos, with air cleaning properties for a healthy and aesthetic solution. Add vibrancy and life to any indoor or outdoor space, with our range of plants and explore great tips to care for them. Explore our range of Plant Emporium plants and select one to brighten up your space! </p>

{% endblock %}