{% extends "layout.html" %}
{% block body_content %}

<div class="forms">
    <form action="", method="POST">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Add a blogpost</legend>
            <h5>Here, you'll be able to:</h5>
            <li>Add a new blogpost!</li>

            <br>
            <div class="form-group">
                {{ form.title.label }}
                {{ form.title }}
            </div>
            <div class="form-group">
                {{ form.author.label }}
                {{ form.author }}
            </div>
            <div class="form-group">
                {{ form.post_content.label }}
                {{ form.post_content }}
            </div>
          </fieldset>
        <div class="form-group">
            {{ form.submit }}
        </div>

    </form>
</div>

{% endblock %}