{% extends "layout.html" %}
{% block body_content %}



<div class="container-fluid bg-1 text-center">
    <h1>Shopping Cart</h1>




<h3>Everything in your cart is:</h3>

<div class="table-responsive">
    <table class="table">
  <thead>
    <tr>
        {% for header in headings %}
      <th scope="col">{{ header }}</th>
       {% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr>
     {% for line in cart_contents %}
        {% for item in line %}
            {% for value in item.items() %}
            <p hidden> Plant id: {{ item.id }} </p>
      <th scope="row"><a href="#">{{ item.plant_nickname }}</a></th>
      <td>{{ item.species}}</td>
      <td>£{{ item.price }}</td>
      <td>{{ item.quantity }}</td>
    </tr>
    {% endfor %}
    {% endfor %}
    {% endfor %}

  </tbody>
</table>
</div>

</div>


 <h2> Why can't I stop it repeating?</h2>
    {% for line in cart_contents %}
        {% for dict_item in line %}
        {% for key, value in dict_item.items() %}
            Plant id: {{ dict_item.id }}
            Plant name: {{ dict_item.plant_nickname }}
            Plant species: {{ dict_item.species}}
            Item price: £{{ dict_item.price }}
            Quantity: {{ dict_item.quantity }}
<br>
     {% endfor %}
     {% endfor %}
     {% endfor %}




{% endblock %}