{% extends "layout.html" %}
{% block body_content %}

<h1> Your shopping cart contains {{ session['cart'] }}</h1>

<div class="container-fluid bg-1 text-center">
    <h1>Shopping Cart</h1>
    {% for product in ProductList %}
        <h2>{{ product.id }}</h2>
        <p> {{ product.species}}  {{ product.plant_nickname}}</p>
        <p> Price for this is {{ product.price }}</p>
        <p> Price for this is {{ product.quantity }}</p>
    {% endfor %}
</div>

<h2> {{ productList }} </h2>

{% endblock %}