{% extends "layout.html" %}
{% block body_content %}



<div class="container-fluid bg-1 text-center">
    <h1>Shopping Cart</h1>

<h2> You just added to your cart: </h2>
        <h2 hidden>{{ attributeObject.id }}</h2>
        <p> {{ attributeObject.species}}</p>
        <p>{{ attributeObject.plant_nickname}}</p>
        <p> Price for this is £{{ attributeObject.price }}</p>
        <p> Quantity added to cart {{ attributeObject.quantity }}</p>



<h3>Everything in your cart is:</h3>

<div class="table-responsive">
    <table class="table">
  <thead>
    <tr>
        {% for header in headings %}
      <th scope="col">{{ header }}</th>
       {% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr>
     {% for line in cart_contents %}
        {% for item in line %}
            {% for value in item.items() %}
            <p hidden> Plant id: {{ item.id }} </p>
      <th scope="row"><a href="#">{{ item.plant_nickname }}</a></th>
      <td>{{ item.species}}</td>
      <td>£{{ item.price }}</td>
      <td>{{ item.quantity }}</td>
    </tr>
    {% endfor %}
    {% endfor %}
    {% endfor %}

  </tbody>
</table>
</div>

<h1> Your shopping cart contains {{ session['cart'] }}</h1>



</div>

<h2> {{ productAttributes }} </h2>

<h2> {{ attributeObject }} </h2>

{% for attribute in attributeObject %}
    <h3> {{attributeObject.species}}</h3>

{% endfor %}

{% endblock %}