{% extends "layout.html" %}
{% block body_content %}

<!--example text, just checking the bootstrap is working -->
<div class="container-fluid bg-3 text-center">
    <h1>The Plant Emporium</h1>
    <p>Here at The Plant Emporium we care about plants</p>

    <!-- First Container -->
    <div class="container-fluid bg-3 text-center">
        <img src="{{url_for('static',filename='images/green_leaves.jpg')}}" class="img-responsive img-rounded" style="display:inline" alt="Green leaves" height="450">
    </div>
    <p>As you can tell from our exquisitely designed site, web design is our passion</p>
</div>


<!--Victoria's original code-->
        <div class='form'>
            <form method='POST' action=''>
                <!-- provides CSRF protection, alongside secret key. Use on all POST forms -->
                {{ form.hidden_tag() }}
                {{ form.first_name.label }} {{ form.first_name }}
                <br>
                {{ form.last_name.label }} {{ form.last_name }}
                <br>
                {{ form.submit }}
            {{ message }}
            </form>
        </div>


<!--newletter/subscripton page-->
        <div class="sign_up_form">
            <h3>Subscribe to our newsletter to hear more plant news</h3>
            <form action="#">
                <input type="email" class="input-box" placeholder="Your Email">
                <p><span><input type="checkbox"></span> I agree to the terms of services</p>
                <button type="button" class="sign-btn">Sign up</button>
            </form>
        </div>

{% endblock %}

