{% extends "layout.html" %}
{% block body_content %}


<!--main home page container with image, copy and buttons -->

<div class="container-home">
  <img class="bg obj-fit-cover" src="{{url_for('static',filename='images/logoleaves.jpg')}}" alt="leaves">
  <h1>The Plant Emporium</h1>
  <h2>Plants for every space</h2>
    <button class="btn1"><a href="{{ url_for('show_indoor_plants') }}" style="color:white">Shop Indoor</a></button>
    <button class="btn2"><a href="{{ url_for('show_outdoor_plants') }}" style="color:white">Shop Outdoor</a></button>
</div>

<!--newletter subscripton -->
<div class="newsletter-home">
  <h4>Plant Parenthood</h4>
  <p>Sign up for our top tips on how to care for your plants</p>
    <div class='form'>
            <form method='POST' action=''>
                <!-- provides CSRF protection, alongside secret key. Use on all POST forms -->
                {{ form.hidden_tag() }}
                {{ form.email.label }} {{ form.email }}
                <br>
                {{ form.submit }}
            {{ message }}
            </form>
    </div>




{% endblock %}

</div>