{% extends "layout.html" %}
{% block body_content %}

<div class="container-blog">
  <img class="bg obj-fit-cover" src="{{url_for('static',filename='images/spiky_succulent.jpg')}}" alt="spiky succulent">
  <h1>Plant Care Blog</h1>


</div>
<h2 class="blog-post-title">Plant Care</h2>
<blockquote class="text-left">Welcome to the Plant Care Blog! Here our staff will offer regular tips as well as highlighting important events.</blockquote>

<div class="container-fluid bg-1 text-left">
    <h2 class="blog-post-title">Recent Posts</h2>
    <hr>
    {% for post in posts %}
    <h3 class="pb-4 mb-4 fst-italic border-bottom">
        <a href="post/{{ post.id }}">  {{ post.title }} </a>
    </h3>
        <p> {{ post.post_content }}</p>
    <!--            this if block displays a different image based on the post_id field; can be set to specific numbers or could do a range etc etc-->
        {% if post.id == 1 %}
            <div class="thumbnail">
            <img src="{{ url_for('static', filename='images/aloe_vera_pot.jpg') }}" alt="aloe vera plant" style="width:15%">
            </div>
        {% elif post.id == 2 %}
            <div class="thumbnail">
            <img src="{{ url_for('static', filename='images/parlour_palm.jpg') }}" alt="parlour palm" style="width:15%">
            </div>
        {% else %}
            <div class="thumbnail">
            <img src="{{ url_for('static', filename='images/swiss_cheese_plant.jpg') }}" alt="swiss cheese plant" style="width:15%">
            </div>
        {% endif %}
        <p class="blog-post-meta">Posted by {{ post.author }} on {{ post.date_posted.strftime('%B %d, %Y') }}</p>
    <br>
    <hr>
    {% endfor %}
</div>

{% endblock %}