{% extends "layout.html" %}
{% block body_content %}
<div class="forms">
    <form action="", method="POST">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Add Plant</legend>
            <h5>Here, you'll be able to:</h5>
            <li>Add a plant to the existing Plant Emporium Directory</li>
            <br>
            <div class="form-group">
                {{ form.plant_name.label }}
                {{ form.plant_name }}
            </div>
            <div class="form-group">
                {{ form.plant_category.label }}
                {{ form.plant_category }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit }}
        </div>

    </form>
</div>

{% endblock %}