{% extends "layout.html" %}
{% block body_content %}


<div class="container-md overflow-hidden px-4 mx-2"></div>
    <div class="row gx-5">
<!--        images-->
        <div class="col-8 p-3 bg-light">
<!--            .col8-->

<!--            this block will display different 3 images depending on plant_id number-->
<!--                id1-->
            {% if plant.id == 1 %}
            <div style="margin-top: 10px;"></div>
            {% endif %}
            <div class="row p-3 d-flex justify-content-center">
<!--                image1-->
                {% if plant.id == 1 %}
                <div class="col-8 p-3 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='images/boston_fern_bush.jpg') }}" alt="Boston Fern Image 1" width="650" height="450">
                </div>
                {% endif %}
            </div>
<!--            image2-->
            <div class="row p-3">
                {% if plant.id == 1 %}
                <div class="col-6 p-3 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='images/boston_fern_single.jpg') }}" alt="Boston Fern Image 2" width="350" height="300">
                </div>
                {% endif %}
<!--                image3-->
                {% if plant.id == 1 %}
                <div class="col-6 p-3 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='images/boston_fern_single.jpg') }}" alt="Boston Fern Image 3" width="350" height="300">
                </div>
                {% endif %}
            </div>

            <!--            id2-->
            {% if plant.id == 2 %}
            <div style="margin-top: -50px;"></div>
            {% endif %}
<!--            image1-->
            <div class="row p-3 d-flex justify-content-center">
                {% if plant.id == 2 %}
                <div class="col-8 p-3 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='images/aloe_vera.jpg') }}" alt="Aloe Vera Image 1" width="650" height="650">
                </div>
                {% endif %}
            </div>
<!--            image2-->
            <div class="row p-3">
                {% if plant.id == 2 %}
                <div class="col-6 p-3 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='images/aloe_vera_hand.jpg') }}" alt="Aloe Vera Image 2" width="350" height="300">
                </div>
                {% endif %}
<!--                image3-->
                {% if plant.id == 2 %}
                <div class="col-6 p-3 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='images/aloe_vera_pot.jpg') }}" alt="Aloe Vera Image 3" width="350" height="300">
                </div>
                {% endif %}
            </div>

<!--            id3-->
            {% if plant.id == 3 %}
            <div style="margin-top: -100px;"></div>
            {% endif %}
            <div class="row p-3 d-flex justify-content-center">
<!--            image1-->
                {% if plant.id == 3 %}
                <div class="col-8 p-3 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='images/parlour_palm.jpg') }}" alt="Parlour palm Image 1" width="550" height="700">
                </div>
                {% endif %}
            </div>
<!--            image2-->
            <div class="row p-3">
                {% if plant.id == 3 %}
                <div class="col-6 p-3 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='images/parlour_palm_close.jpg') }}" alt="Parlour palm Image 2" width="350" height="300">
                </div>
                {% endif %}
<!--                image3-->
                {% if plant.id == 3 %}
                <div class="col-6 p-3 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='images/parlour_palm_zoomout.jpg') }}" alt="Parlour palm Image 3" width="350" height="300">
                </div>
                {% endif %}
            </div>

<!--            id4-->
            {% if plant.id == 4 %}
            <div style="margin-top: -180px;"></div>
            {% endif %}
               <div class="row p-3 d-flex justify-content-center">
<!--            image1-->
                {% if plant.id == 4 %}
                <div class="col-8 p-3 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='images/anthurium.jpg') }}" alt="Anthurium Image 1" width="650" height="450">
                </div>
                {% endif %}
            </div>
<!--            image2-->
            <div class="row p-3">
                {% if plant.id == 4 %}
                <div class="col-6 p-3 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='images/anthurium_pot.jpg') }}" alt="Anthurium Image 2" width="350" height="300">
                </div>
                {% endif %}
<!--                image3-->
                {% if plant.id == 4 %}
                <div class="col-6 p-3 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='images/anthurium_white.jpg') }}" alt="Anthurium Image 3" width="350" height="300">
                </div>
                {% endif %}
            </div>

<!--            id5-->
            {% if plant.id == 5 %}
            <div style="margin-top: -250px;"></div>
            {% endif %}
            <div class="row p-3 d-flex justify-content-center">
<!--            image1-->
                {% if plant.id == 5 %}
                <div class="col-8 p-3 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='images/swiss_cheese_plant.jpg') }}" alt="Swiss Cheese Plant Image 1" width="550" height="700">
                </div>
                {% endif %}
            </div>
<!--            image2-->
            <div class="row p-3">
                {% if plant.id == 5 %}
                <div class="col-6 p-3 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='images/swiss_cheese_plant_close.jpg') }}" alt="Swiss Cheese Plant Image 2" width="350" height="300">
                </div>
                {% endif %}
<!--                image3-->
                {% if plant.id == 5 %}
                <div class="col-6 p-3 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='images/swiss_cheese_plant_small.jpg') }}" alt="Swiss Cheese Plant Image 3" width="350" height="300">
                </div>
                {% endif %}
            </div>

<!--            id6-->
            {% if plant.id == 6 %}
            <div style="margin-top: -320px;"></div>
            {% endif %}
            <div class="row p-3 d-flex justify-content-center">
<!--            image1-->
                {% if plant.id == 6 %}
                <div class="col-8 p-3 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='images/sweet_orange_tree_1.jpg') }}" alt="Sweet Orange Tree Image 1" width="650" height="550">
                </div>
                {% endif %}
            </div>
<!--            image2-->
            <div class="row p-3">
                {% if plant.id == 6 %}
                <div class="col-6 p-3 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='images/sweet_orange_tree_2.jpg') }}" alt="Sweet Orange Tree Image 2" width="350" height="300">
                </div>
                {% endif %}
<!--                image3-->
                {% if plant.id == 6 %}
                <div class="col-6 p-3 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='images/sweet_orange_tree_3.jpg') }}" alt="Sweet Orange Tree Image 3" width="350" height="300">
                </div>
                {% endif %}
            </div>

<!--            id7-->
            {% if plant.id == 7 %}
            <div style="margin-top: -380px;"></div>
            {% endif %}
            <div class="row p-3 d-flex justify-content-center">
<!--            image1-->
                {% if plant.id == 7 %}
                <div class="col-8 p-3 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='images/climbing_rose_1.jpg') }}" alt="Climbing Rose Image 1" width="650" height="450">
                </div>
                {% endif %}
            </div>
<!--            image2-->
            <div class="row p-3">
                {% if plant.id == 7 %}
                <div class="col-6 p-3 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='images/climbing_rose_2.jpg') }}" alt="Climbing Rose Image 2" width="350" height="300">
                </div>
                {% endif %}
<!--                image3-->
                {% if plant.id == 7 %}
                <div class="col-6 p-3 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='images/climbing_rose_3.jpg') }}" alt="Climbing Rose Image 3" width="350" height="300">
                </div>
                {% endif %}
            </div>

<!--            id8-->
            {% if plant.id == 8 %}
            <div style="margin-top: -450px;"></div>
            {% endif %}
            <div class="row p-3 d-flex justify-content-center">
<!--            image1-->
                {% if plant.id == 8 %}
                <div class="col-8 p-3 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='images/fatsia_japonica_berry.jpg') }}" alt="Fatsia Japonica Image 1" width="650" height="450">
                </div>
                {% endif %}
            </div>
<!--            image2-->
            <div class="row p-3">
                {% if plant.id == 8 %}
                <div class="col-6 p-3 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='images/fatsia_japonica_leaf.jpg') }}" alt="Fatsia Japonica Image 2" width="350" height="300">
                </div>
                {% endif %}
<!--                image3-->
                {% if plant.id == 8 %}
                <div class="col-6 p-3 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='images/fatsia_japonica_leaf.jpg') }}" alt="Fatsia Japonica Image 3" width="350" height="300">
                </div>
                {% endif %}
            </div>

<!--            id9-->
            {% if plant.id == 9 %}
            <div style="margin-top: -500px;"></div>
            {% endif %}
            <div class="row p-3 d-flex justify-content-center">
<!--            image1-->
                {% if plant.id == 9 %}
                <div class="col-8 p-3 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='images/hydrangea_dusky_pink.jpg') }}" alt="Hydrangea Macrophylla Image 1" width="650" height="450">
                </div>
                {% endif %}
            </div>
<!--            image2-->
            <div class="row p-3">
                {% if plant.id == 9 %}
                <div class="col-6 p-3 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='images/hydrangea_hot_pink.jpg') }}" alt="Hydrangea Macrophylla Image 2" width="350" height="300">
                </div>
                {% endif %}
<!--                image3-->
                {% if plant.id == 9 %}
                <div class="col-6 p-3 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='images/hydrangea_white.jpg') }}" alt="Hydrangea Macrophylla Image 3" width="350" height="300">
                </div>
                {% endif %}
            </div>

<!--            id10-->
            {% if plant.id == 10 %}
            <div style="margin-top: -500px;"></div>
            {% endif %}
            <div class="row d-flex justify-content-center">
<!--            image1-->
                {% if plant.id == 10 %}
                <div class="col-8 mt-n5 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='images/alstromeria_pink.jpg') }}" alt="Alstroemeria Image 1" width="650" height="450">
                </div>
                {% endif %}
            </div>
<!--            image2-->
            <div class="row p-3">
                {% if plant.id == 10 %}
                <div class="col-6 p-3 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='images/alstromeria_purple.jpg') }}" alt="Alstroemeria Image 2" width="350" height="300">
                </div>
                {% endif %}
<!--                image3-->
                {% if plant.id == 10 %}
                <div class="col-6 p-3 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='images/alstromeria_yellow.jpg') }}" alt="Alstroemeria Image 3" width="350" height="300">
                </div>
                {% endif %}
            </div>


        </div>


<!--        TEXT-->
        <div class="col-4 p-3 pt-5 align-content-center bg-light">
<!--            .col-4-->
            <div class="row justify-content-md-center text-nowrap">
                <div class="col-4 p-2"><h1>{{ plant.plant_nickname }}</h1></div>
            </div>
<!--            species name overflows out of margin for the plant 5 and 6 so padding and negative margin added to correct this-->
            {% if plant.id == 5 %}
            <div class="row justify-content-md-center text-nowrap pr-5 ml-n5 mr-5">
                <div class="col-4 p-2"><h2>{{ plant.species }}</h2></div>
            </div>

            {% elif plant.id == 6 %}
            <div class="row justify-content-md-center text-nowrap pr-5 ml-n5 mr-5">
                <div class="col-4 p-2"><h2>{{ plant.species }}</h2></div>
            </div>

            {% elif plant.id == 9 %}
            <div class="row justify-content-md-center border pr-2 ml-n2 mr-2">
                <div class="col-4 p-2"><h2>{{ plant.species }}</h2></div>
            </div>

            {% else %}
            <div class="row justify-content-md-center text-nowrap pr-3 ml-n3 mr-3">
                <div class="col-4 p-2"><h2>{{ plant.species }}</h2></div>
            </div>
            {% endif %}

            <div class="row justify-content-md-center p-3 border">
                <div class="col p-2"><h4>Price</h4>
                    £{{ plant.price }}</div>
<!--                make this into a form-->
                <form action="{{ url_for('add_to_cart') }}" method="post">
                    <div class="col p-2"><h4>Quantity</h4>
                        <input type="text" class="product-quantity" name="quantity" value="1" size="2" min="1", max="{{plant.stock}}" />
                    </div>
                    <div class="col p-2 pt-4">
                        <button type="submit" class="btn btn-info"></a>Add to Cart</button>
                    </div>
                </form>



            </div>

             <div class="row justify-content-md-center p-3">
<!--                 if statement for plant category-->
                <div class="col pt-4"><h4>Category</h4>
                    {% if plant.category_id == 1 %}
                        <p>Indoor</p>
                    {% else %}
                        <p>Outdoor</p>
                    {% endif %}
                </div>
<!--                if statement for plant size-->
                <div class="col pt-4"><h4>Size</h4>
                    {% if plant.size_id == 1 %}
                        <p>Tiny</p>
                    {% elif plant.size_id == 2 %}
                        <p>Small</p>
                    {% elif plant.size_id == 3 %}
                        <p>Medium</p>
                    {% else %}
                        <p>Tall</p>
                    {% endif %}
                </div>
<!--                 if statement for plant type-->
                <div class="col pt-4"><h4>Type</h4>
                    {% if plant.plant_type_id == 1 %}
                        <p>Cacti/Succulent</p>
                    {% elif plant.plant_type_id == 2 %}
                        <p>Hanging</p>
                    {% elif plant.plant_type_id == 3 %}
                        <p>Flowering</p>
                    {% elif plant.plant_type_id == 4 %}
                        <p>Palms</p>
                    {% else %}
                        <p>Ferns</p>
                    {% endif %}
                </div>
            </div>

             <div class="row justify-content-md-center p-3">
                <div class="col pb-5"><h5>General Information:</h5>
                    {{ plant.general_info }}</div>
                <div class="col pb-5"><h5>Care Tips:</h5><ul>
                    <li><div class="col pb-2">{{ plant.care_tip1 }}</div></li>
                    <li><div class="col pb-2">{{ plant.care_tip2 }}</div></li>
                    <li><div class="col">{{ plant.care_tip3 }}</div></li>
                    </ul>
                </div>
            </div>

            <div class="row justify-content-md-center p-2">
                <div class="col-md-auto"><h5>History of the Women in Tech Behind the Plant Nickname:</h5>
                    {{ plant.tech_description }}</div>
            </div>
        </div>
    </div>



{% endblock %}