{% extends "layout.html" %}
{% block body_content %}
<h1>Plant Care</h1>
<p>Welcome to the Plant Care Blog! Here our staff will offer regular tips as well as highlighting important events</p>

<div class="container-fluid bg-1 text-center">
    <h3>Blog</h3>
    {% for post in posts %}
    <h1 class="post-title"></h1>
                {{ post.title }}
        <p> {{ post.post_content }}</p>


        <p class="post-meta">Posted by {{ post.author }} on {{ post.date_posted.strftime('%B %d, %Y') }}</p>

    {% endfor %}
</div>

{% endblock %}