{% extends "layout.html" %}
{% block body_content %}

   <!-- Page Header -->
    <header class="masthead" >
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ post.title }}</h1>
                <span class="meta">Posted by
                {{ post.author }}
                on {{ post.date_posted.strftime('%B %d, %Y') }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container bg-1 text-center">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            {{ post.post_content }}
              <br>
<!--            this if block displays a different image based on the post_id field; can be set to specific numbers or could do a range etc etc-->
              {% if post.id == 1 %}
                <div class="thumbnail">
                <img src="{{ url_for('static', filename='images/general_rose_1.jpg') }}" alt="a rose" style="width:35%">
                </div>
                {% elif post.id == 2 %}
                <div class="thumbnail">
                <img src="{{ url_for('static', filename='images/general_rose_2.jpg') }}" alt="a rose" style="width:35%">
                </div>
                {% else %}
                <div class="thumbnail">
                <img src="{{ url_for('static', filename='images/general_rose_3.jpg') }}" alt="a rose" style="width:35%">
                </div>
                {% endif %}

              <br>
          </div>
        </div>
      </div>
    </article>

    <div class="container-fluid bg-4 text-center">

        <a href="{{ url_for('plant_care') }}">Back to the Plant Care Blog</a>
    </div>

{% endblock %}