{% extends "layout.html" %}
{% block body_content %}
<h1>Shop</h1>


{% if session['logged_in_username'] %}
<hr>
    <h1>Welcome {{ session['logged_in_username'] }}!</h1>
    <h2> Are you logged in? That is {{ session['logged_in'] }}</h2>
    <h3>What type of log in is it? You are logged in as {{ session['typesession'] }}</h3>
<!-- not currently able to get the person ID extracted into a number -->
<!--    <h4>Your Person ID is {{ session['user_id'] }}</h4>-->
<br>
<hr>
{% else %}
<hr>
    <h1>You are not currently logged in </h1>
    <h2>Please <a href='/log_in'>Login</a> to make a purchase</h2>

<br>
<hr>

{% endif %}



<p>Here are our current plants in stock</p>

<div class="plant1">
<h2>Plant 1</h2>
    <a href="{{ '/plant1' }}">Plant 1</a>
</div>

<div class="plant2">
<h2>Plant 2</h2>
    <a href="{{ '/plant2' }}">Plant 2</a>
</div>

<div class="plant3">
<h2>Plant 3</h2>
    <a href="{{ '/plant3' }}">Plant 3</a>
</div>


<div class="plant4">
<h2>Plant 4</h2>
    <a href="{{ '/plant4' }}">Plant 4</a>
</div>

<div class="plant5">
<h2>Plant 5</h2>
    <a href="{{ '/plant5' }}">Plant 5</a>
</div>

<div class="plant6">
<h2>Plant 6</h2>
    <a href="{{ '/plant6' }}">Plant 6</a>
</div>

<div class="plant7">
<h2>Plant 7</h2>
    <a href="{{ '/plant7' }}">Plant 7</a>
</div>

<div class="plant8">
<h2>Plant 8</h2>
    <a href="{{ '/plant8' }}">Plant 8</a>
</div>

<div class="plant9">
<h2>Plant 9</h2>
    <a href="{{ '/plant9' }}">Plant 9</a>
</div>

<div class="plant10">
<h2>Plant 10</h2>
    <a href="{{ '/plant10' }}">Plant 10</a>
</div>

{% endblock %}