{% extends "layout.html" %}
{% block body_content %}
<h1>Shop</h1>
<p>Here are our current plants in stock</p>

<div class="plant1">
<h2>Plant 1</h2>
    <a href="{{ '/plant1' }}">Plant 1</a>
</div>

<div class="plant2">
<h2>Plant 2</h2>
    <a href="{{ '/plant2' }}">Plant 2</a>
</div>

<div class="plant3">
<h2>Plant 3</h2>
    <a href="{{ '/plant3' }}">Plant 3</a>
</div>


<div class="plant4">
<h2>Plant 4</h2>
    <a href="{{ '/plant4' }}">Plant 4</a>
</div>

<div class="plant5">
<h2>Plant 5</h2>
    <a href="{{ '/plant5' }}">Plant 5</a>
</div>

<div class="plant6">
<h2>Plant 6</h2>
    <a href="{{ '/plant6' }}">Plant 6</a>
</div>

<div class="plant7">
<h2>Plant 7</h2>
    <a href="{{ '/plant7' }}">Plant 7</a>
</div>

<div class="plant8">
<h2>Plant 8</h2>
    <a href="{{ '/plant8' }}">Plant 8</a>
</div>

<div class="plant9">
<h2>Plant 9</h2>
    <a href="{{ '/plant9' }}">Plant 9</a>
</div>

<div class="plant10">
<h2>Plant 10</h2>
    <a href="{{ '/plant10' }}">Plant 10</a>
</div>

{% endblock %}