{% extends "layout.html" %}

{% block body_content %}

<div class="container-shop">
  <img class="bg obj-fit-cover" src="{{url_for('static',filename='images/header_shop_1.png')}}" alt="spiky succulent">
  <h1>Shop</h1>
</div>


<h1 xmlns="http://www.w3.org/1999/html">Shop</h1>


{% if session['logged_in_username'] %}
<hr>
    <h1>Welcome {{ session['logged_in_username'] }}!</h1>
    <h2> Are you logged in? That is {{ session['logged_in'] }}</h2>
    <h3>What type of log in is it? You are logged in as {{ session['typesession'] }}</h3>
<!-- not currently able to get the person ID extracted into a number -->
    <h4>Your Person ID is {{ session['id_number'] }}</h4>
<br>
<hr>
{% else %}
<hr>
    <h1>You are not currently logged in </h1>
    <h2>Please <a href='/log_in'>Login</a> to make a purchase</h2>

<br>
<hr>
{% endif %}

<!-- Indoor/Outdoor dropdown -->
<div class="btn-group">
  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    Environment
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/indoor_plants">Indoor</a>
    <a class="dropdown-item" href="/outdoor_plants">Outdoor</a>
  </div>
</div>

<!-- Size dropdown -->
<div class="btn-group">
  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    Size
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/tiny_plants">Tiny</a>
    <a class="dropdown-item" href="/small_plants">Small</a>
    <a class="dropdown-item" href="/medium_plants">Medium</a>
    <a class="dropdown-item" href="/tall_plants">Tall</a>
  </div>
</div>

<!-- Plant Type dropdown -->
<div class="btn-group">
  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    Plant Type
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/cacti_succulent_plants">Cacti/Succulent</a>
    <a class="dropdown-item" href="/hanging_plants">Hanging</a>
    <a class="dropdown-item" href="/flowering_plants">Flowering</a>
    <a class="dropdown-item" href="/palm_plants">Palm</a>
    <a class="dropdown-item" href="/fern_plants">Fern</a>
  </div>
</div>


<!-- Price dropdown -->
<div class="btn-group">
  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    Price
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/value_savers">Value Savers</a>
    <a class="dropdown-item" href="/modest_picks">Modest Picks</a>
    <a class="dropdown-item" href="/fancy_picks">Fancy Picks</a>
    <a class="dropdown-item" href="/premium_range">Premium Range</a>
  </div>
</div>


<!--display all plants-->
{% if plant_shop_plant %}
{% for product, category, plant_type, size in plant_shop_plant %}
   <p>{{product.species}} {{category.category_description}}
       {{plant_type.plant_type_description}} {{size.size_description}} {{product.price}}</p>
{% endfor %}
{% endif %}


<!--display outdoor plants-->
{% if display_outdoor_plants %}
{% for product, category, plant_type, size in display_outdoor_plants %}
   <p>{{product.species}} {{category.category_description}}
       {{plant_type.plant_type_description}} {{size.size_description}} {{product.price}}</p>
{% endfor %}
{% endif %}


<!--display indoor plants-->
{% if display_indoor_plants %}
{% for product, category, plant_type, size in display_indoor_plants %}
   <p>{{product.species}} {{category.category_description}}
       {{plant_type.plant_type_description}} {{size.size_description}} {{product.price}}</p>
{% endfor %}
{% endif %}


<!--display tiny plants-->
{% if display_tiny_plants %}
{% for product, category, plant_type, size in display_tiny_plants %}
   <p>{{product.species}} {{category.category_description}}
       {{plant_type.plant_type_description}} {{size.size_description}} {{product.price}}</p>
{% endfor %}
{% endif %}

<!--display small plants-->
{% if display_small_plants %}
{% for product, category, plant_type, size in display_small_plants %}
   <p>{{product.species}} {{category.category_description}}
       {{plant_type.plant_type_description}} {{size.size_description}} {{product.price}}</p>
{% endfor %}
{% endif %}


<!--display medium plants-->
{% if display_medium_plants %}
{% for product, category, plant_type, size in display_medium_plants %}
   <p>{{product.species}} {{category.category_description}}
       {{plant_type.plant_type_description}} {{size.size_description}} {{product.price}}</p>
{% endfor %}
{% endif %}

<!--display tall plants-->
{% if display_tall_plants %}
{% for product, category, plant_type, size in display_tall_plants %}
   <p>{{product.species}} {{category.category_description}}
       {{plant_type.plant_type_description}} {{size.size_description}} {{product.price}}</p>
{% endfor %}
{% endif %}

<!--display cactus and succulent plants-->
{% if display_cacti_succulent_plants %}
{% for product, category, plant_type, size in display_cacti_succulent_plants %}
   <p>{{product.species}} {{category.category_description}}
       {{plant_type.plant_type_description}} {{size.size_description}} {{product.price}}</p>
{% endfor %}
{% endif %}

<!--display hanging plants-->
{% if display_hanging_plants %}
{% for product, category, plant_type, size in display_hanging_plants %}
   <p>{{product.species}} {{category.category_description}}
       {{plant_type.plant_type_description}} {{size.size_description}} {{product.price}}</p>
{% endfor %}
{% endif %}

<!--display flowering plants-->
{% if display_flowering_plants %}
{% for product, category, plant_type, size in display_flowering_plants %}
   <p>{{product.species}} {{category.category_description}}
       {{plant_type.plant_type_description}} {{size.size_description}} {{product.price}}</p>
{% endfor %}
{% endif %}

<!--display palm plants-->
{% if display_palm_plants %}
{% for product, category, plant_type, size in display_palm_plants %}
   <p>{{product.species}} {{category.category_description}}
       {{plant_type.plant_type_description}} {{size.size_description}} {{product.price}}</p>
{% endfor %}
{% endif %}

<!--display fern plants-->
{% if display_fern_plants %}
{% for product, category, plant_type, size in display_fern_plants %}
   <p>{{product.species}} {{category.category_description}}
       {{plant_type.plant_type_description}} {{size.size_description}} {{product.price}}</p>
{% endfor %}
{% endif %}


<!--display value saver plants-->
{% if display_value_saver %}
{% for product, category, plant_type, size in display_value_saver %}
   <p>{{product.species}} {{category.category_description}}
       {{plant_type.plant_type_description}} {{size.size_description}} {{product.price}}</p>
{% endfor %}
{% endif %}

<!--display modest picks-->
{% if display_modest_picks %}
{% for product, category, plant_type, size in display_modest_picks %}
   <p>{{product.species}} {{category.category_description}}
       {{plant_type.plant_type_description}} {{size.size_description}} {{product.price}}</p>
{% endfor %}
{% endif %}

<!--display fancy picks-->
{% if display_fancy_picks %}
{% for product, category, plant_type, size in display_fancy_picks %}
   <p>{{product.species}} {{category.category_description}}
       {{plant_type.plant_type_description}} {{size.size_description}} {{product.price}}</p>
{% endfor %}
{% endif %}

<!--display premium picks-->
{% if display_premium_range %}
{% for product, category, plant_type, size in display_premium_range %}
   <p>{{product.species}} {{category.category_description}}
       {{plant_type.plant_type_description}} {{size.size_description}} {{product.price}}</p>
{% endfor %}
{% endif %}

<div class="plant1">
<h2>Plant 1</h2>
    <a href="{{ '/plant1' }}">Plant 1</a>
</div>

<div class="plant2">
<h2>Plant 2</h2>
    <a href="{{ '/plant2' }}">Plant 2</a>
</div>

<div class="plant3">
<h2>Plant 3</h2>
    <a href="{{ '/plant3' }}">Plant 3</a>
</div>


<div class="plant4">
<h2>Plant 4</h2>
    <a href="{{ '/plant4' }}">Plant 4</a>
</div>

<div class="plant5">
<h2>Plant 5</h2>
    <a href="{{ '/plant5' }}">Plant 5</a>
</div>

<div class="plant6">
<h2>Plant 6</h2>
    <a href="{{ '/plant6' }}">Plant 6</a>
</div>

<div class="plant7">
<h2>Plant 7</h2>
    <a href="{{ '/plant7' }}">Plant 7</a>
</div>

<div class="plant8">
<h2>Plant 8</h2>
    <a href="{{ '/plant8' }}">Plant 8</a>
</div>

<div class="plant9">
<h2>Plant 9</h2>
    <a href="{{ '/plant9' }}">Plant 9</a>
</div>

<div class="plant10">
<h2>Plant 10</h2>
    <a href="{{ '/plant10' }}">Plant 10</a>
</div>

{% endblock %}