{% extends "layout.html" %}
{% block body_content %}
    <title>Outstanding Orders</title>
</head>
<body>
<div>

   <p>    </p>

    <br>
    {{ message }}
</div>




<div>
<h1>Current stock list</h1>

<div class="container-fluid bg-1 text-center">
    <div class="table-responsive table-striped">
        <table class="table">
            <thead>
                <tr>
                {% for header in headings %}
                    <th scope="col">{{ header }}</th>
                {% endfor %}
                 </tr>
            </thead>
            <tbody>
                <tr>
                {% for product, category, plant_type, size in plant_shop_plant %}


                    <th scope="row">{{product.species}} </th>
                      <td>{{category.category_description}}  </td>
                      <td>{{size.size_description}} </td>
                      <td>{{plant_type.plant_type_description}}</td>
                      <td>{{product.price}}</td>
                      <td>{{product.stock}}</td>



                </tr>
                 {% endfor %}

            </tbody>
        </table>
    </div>

</div>

</div>
{% endblock %}