<!--commenting out jinja stuff doesn't always stop it running, so popping this here in case we need it again -->

<!--Victoria's original code from the home page-->
        <div class='form'>
            <form method='POST' action=''>
                <!-- provides CSRF protection, alongside secret key. Use on all POST forms -->
                {{ form.hidden_tag() }}
                {{ form.first_name.label }} {{ form.first_name }}
                <br>
                {{ form.last_name.label }} {{ form.last_name }}
                <br>
                {{ form.submit }}
            {{ message }}
            </form>
        </div>